* {
    -fx-text-fill: black;
    -fx-base: white;
    -fx-background-color: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
}

.hyperlink {
    -fx-text-fill: white;
}

.tooltip{
    -fx-background-color: white;
    -fx-text-fill: black;
}